<div class="container row col-md-8">
  <div class="comments">
    <div class="card post comment-box">
      <div class="card-body post-body ">
        <div class="card-text comment-text ">
          {{body}}
        </div>
        <div class="comment-author ">
          {{this.user.username}}
          {{format_date createdAt}}
        </div>
      </div>
    </div>
  </div>
</div>