<div class="col-md-8">
 <h2>{{post.title}}</h2>
 </a>
 <p>{{post.body}}</p>
 <p>Posted by :<strong>{{post.user.username}}</strong></p>
 <div id="comments">
<p>Comments:</p>
{{#each post.comments as |comment|}}
 {{>comment comment}}
 {{/each }}
 </div>
</div>
<article>
<form  method="POST" action="/api/comment">
    <div class="input-field">
        <label>Comment: </label>
        <textarea type="text" name="body" placeholder="Whats your opinion?" cols="30" rows="5"></textarea>
     </div>   
    <input type="hidden" name="comment-id" value={{id}}>
    <button type="submit">Add Comment</button>
    
</form>
</article>