
<form name= "new-post" id="new-post" method="POST" action="/api/post/">
    <p style="padding-left:40rem;font-weight:bolder; font-size:larger">Title of post</p>
    <input type="text" style="padding:5px; margin-left:37rem;" name= "title" id="title" />
    <br>
    <p style="padding-left:35rem; font-weight:bolder; font-size:larger">What would you like to say?</p>
    <textarea name="body" id="body" cols="80" rows="10" style="padding:5px; margin-left:24rem;"></textarea>
    <br>
    <button type="submit" class ="btn" style="padding:5px; margin-left:40rem; margin-top:5px" id="submit">Create Post</button>
</form>
