
{{!-- TODO - write the template to show all posts on the / route --}}
<h1 style="margin-left:42%;">All available posts</h1>


<div class="col-md-8">
{{#each posts }}
{{>posts this }}
{{/each}}
</div>