
/* TODO - Write your CSS here */
#jumbo {
    font-family: "Brush Script MT";
    font-weight: 700;
}
.jumbotron {
    background-image: linear-gradient(to top right, gray, lightblue); 
    margin-bottom: 10px;
    padding: 0;
    padding-bottom: 15px;
}
nav.navbar {
display: flex;
align-content: flex-start;
font-size: larger;
font-weight: bolder;
text-decoration-color: black;
justify-content: space-between;

}
body {
background-color: lightgray;

}

.btn{
    border-radius: 5px;
    border-width: 2px;
    border-color: black;
    background-color: white;
    font-size: large;

}
a.create{
    margin:5px;
    border-style: solid;
    background-color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: black;  
    padding : 3px;
    text-decoration: none;
}
a:link{
    color: green;
}
a:visited{
    color: purple;
}
a.create:hover{
background-color: black;
color: white;
font-size: larger;
}
.btn:hover{
    background-color: black;
    color: white;
    font-size: larger;
}
.col-md-8{
    display: flex; 
    text-align:right;
    align-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid black;
    padding:5px;
    margin:5px;
    border-radius: 10px;
    margin-left: 15rem;
    background-color: rgb(204, 232, 249);
}

p{
    text-align: left;
}
h6{
    text-align: left;
}