
/* TODO - Write your CSS here */
#jumbo {
    font-family: "Brush Script MT";
    font-weight: 700;
}
.jumbotron {
    background-image: linear-gradient(to top right, gray, lightblue); 
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}
nav.navbar {
display: flex;
align-content: flex-start;
font-size: larger;
font-weight: bolder;
text-decoration-color: black;
justify-content: space-between;

}
body {
background-color: lightgray;
}

.post {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    
}
.post h2{
    text-decoration: wavy;
}
